<header>
  <nav class="mt-2">
    <div class="bundle">
      <a routerLink="">
        <img src="assets/img/logo.png"  class="hedelius-logo darken-image">
      </a>
<!--
      <div>
        <a routerLink="">
          ACURA <br >
          65 EL
        </a>
      </div>
      -->
    </div>

    <!-- Main Navigation bar Links -->
    <ul class="nav-links">
      <li><a routerLink="/anlageneffektivitaet">Anlageneffektivität</a></li>
      <li><a routerLink="/auftragshistorie" class="test">Auftragshistorie</a></li>
      <li><a routerLink="/auftragswarteschlange">Auftragswarteschlange</a></li>
      <li><a routerLink="/fehlermeldungen">Fehlermeldungen</a></li>

    </ul>

    <div class="bundle">
      <div class="anmelden">
        <a routerLink="/anmelden">
          <img class="profilbild changed-image" src="assets/img/profil_new.png">
          <p>Anmelden</p>
        </a>
      </div>
      <div class="einstellungen">
        <a routerLink="/einstellungen">
          <img class="pic-einstellungen changed-image" src="assets/img/einstellungen.png">
          <p>Einstellungen</p>
        </a>
      </div>

      <!-- Menu icon with 3 lines-->
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

    </div>

  </nav>
  <div class="navbar-2">
    <a href="https://www.hedelius.de" target="_blank">Webseite</a> |
    <a href="https://www.hedelius.de/kundendienst/kundendienst.html" target="_blank">Service</a> |
    <a href="https://www.hedelius.de/kontakt/kontaktformular.html" target="_blank">Kontakt</a>
  </div>
</header>

<div class="dropdown-content">
  <!-- Nav-links will be added here using JavaScript -->
</div>
