<header>
  <div class="navbar">
    <div class="bundle">
      <a routerLink="">
        <img src="assets/img/logo.png" class="hedelius-logo">
      </a>

      <div>
        <a routerLink="">
          Acura 65 EL
        </a>
      </div>
    </div>
    <div class="menu-links">
      <div class="menu-item">
        <a routerLink="/auftragshistorie">Auftragshistorie</a>
      </div>
      <div class="menu-item">
        <a routerLink="/auftragswarteschlange">Auftragswarteschlange</a>
      </div>
      <div class="menu-item">
        <a routerLink="/fehlermeldungen">Fehlermeldungen</a>
      </div>
      <div class="menu-item">
        <a routerLink="/anlageneffektivitaet">Anlageneffektivität</a>
      </div>
    </div>

    <div class="bundle">
      <div class="anmelden">
        <a routerLink="/anmelden">
          <img class="profilbild" src="assets/img/profil.jpg">
          <p>Anmelden</p>
        </a>
      </div>
      <div class="einstellungen">
        <a routerLink="/einstellungen">
          <img class="pic-einstellungen" src="assets/img/einstellungen.png">
          <p>Einstellungen</p>
        </a>
      </div>
    </div>
  </div>
  <div class="navbar-2">
    <a href="https://www.hedelius.de" target="_blank">Webseite</a> |
    <a href="https://www.hedelius.de/kundendienst/kundendienst.html" target="_blank">Service</a> |
    <a href="https://www.hedelius.de/kontakt/kontaktformular.html" target="_blank">Kontakt</a>
  </div>
</header>
