p{
  margin-bottom: 0rem;
}

.hedelius-logo {
  width: 150px;
  margin-right: 5px;
}

.anmelden {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilbild {
  height: 40px;
  margin-bottom: 1px;
}

.einstellungen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.einstellungen p {
  margin: 0;
  margin-left: 5px;
}

.pic-einstellungen {
  height: 40px;
  margin-bottom: 1px;
}

.navbar-2 {
  color: white;
  background-color: #58585a;
  padding-left: 15%;
}

.navbar-2 a {
  color: white;
  text-decoration: none;
}

.navbar-2 a:hover {
  text-decoration-line: underline;
}

.bundle {
  display: flex;
  justify-content: center;
  align-items: top;
}

nav {
  /* styling inside the nav */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: 15%;
  padding-right: 15%;
}

.nav-links {
  /* style for the link, onglets link*/
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0rem;
}

.underline:hover{
  text-decoration: underline;
  text-decoration-color: red;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links a {
  color: var(--secondary-colour);
  text-decoration: none;

}

.nav-links a:hover{
  text-decoration: underline;
  text-decoration-color: #ed1c24;
}


.burger {
  display: none;
  cursor: pointer;
}

.line1, .line2, .line3 {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-colour);
  margin: 5px;
}

.active {
  color: red;
}

ul{
  padding-left: 0rem;
}


/***** Darstellung der Seitenlinks im Breiten Fenster  ****************************************************************************/

@media screen and (min-width: 1301px) {

}
/***** Darstellung der Seitenlinks im schmalem Fenster ****************************************************************************/

@media screen and (max-width: 1300px) {
  .nav-links {
      display: none;
      padding: 0;
  }

  .burger {
      display: block;
  }

  //.nav-active {
  //    display: flex;
  //    flex-direction: column;
  //    align-items: center;
  //}

  //.nav-active .nav-links {
  //    //display: flex ;
  //    flex-direction: column;
  //    align-items: left; // centre
  //}

  .nav-active .nav-links li {
      padding: 10px 0;
  }

  .dropdown-content {
    position: absolute;
    top: 65px;
    right: 0;
    width: 205px;
    background-color: var(--dropdown-colour);
    display: none;
    flex-direction: column;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .dropdown-active {
    display: flex;
  }
}
