<header>
  <div class="navbar">
    <div class="bundle">
      <a href="">
        <img src="assets/img/logo.png" class="hedelius-logo">
      </a>

      <div>
        <a href="">
          Acura 65 EL PL406
        </a>
      </div>
    </div>

    <div>
      <a href="/auftragshistorie">Auftragshistorie</a> |
      <a href="/auftragswarteschlange">Auftragswarteschlange</a> |
      <a href="/fehlermeldungen">Fehlermeldungen</a> |
      <a href="/anlageneffektivitaet">Anlageneffektivität</a>
    </div>

    <div class="bundle">
      <div class="anmelden">
        <a href="/anmelden">
          <img class="profilbild" src="assets/img/profil.jpg">
          <p>Anmelden</p>
        </a>
      </div>

      <div class="einstellungen">
        <a href="/einstellungen">
          <img class="pic-einstellungen" src="assets/img/einstellungen.png">
          <p>Einstellungen</p>
        </a>
      </div>
    </div>
  </div>

  <div class="navbar-2">
    <a href="https://www.hedelius.de" target="_blank">Webseite</a> |
    <a href="https://www.hedelius.de/kundendienst/kundendienst.html" target="_blank">Service</a> |
    <a href="https://www.hedelius.de/kontakt/kontaktformular.html" target="_blank">Kontakt</a>
  </div>

</header>
