<div class="my-background">
  <br>
  <h1 class="h1-text-center">
    Registrieren<span style="color: #ed1c24">.</span>
  </h1>

  <div class="text-center">
    Bitte geben Sie Ihre gewünschten Benutzerdaten ein:
  </div>
  <div class="container-fluid mb-5 mt-5">
    <!--Hier eigentlicher Code. Weiter unten sind auskommentiert Teile eines Tutorials zu Forms-->
    <form #userForm="ngForm">
      <div class="form-group">
        <label>Benutzername</label>
        <input
          type="text"
          required
          #username="ngModel"
          [class.is-invalid]="username.invalid && username.touched"
          class="form-control"
          name="username"
          [(ngModel)]="userModel.username"
        />
        <small
          class="text-danger"
          *ngIf="username.invalid && username.touched"
          >Benutzername wird benötigt</small
        >
      </div>

      <div class="form-group">
        <label>Passwort</label>
        <input
          type="text"
          required
          #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"
          class="form-control"
          name="password"
          [(ngModel)]="userModel.password"
          [(ngModel)]="userModel2.password"
        />
        <small
          class="text-danger"
          *ngIf="password.invalid && password.touched"
          >Passwort wird benötigt</small
        >
      </div>

      <div class="form-group">
        <label>Passwort wiederholen</label>
        <input
          type="text"
          required
          #password2="ngModel"
          [class.is-invalid]="password2.invalid && password2.touched"
          class="form-control"
          name="password2"
          [(ngModel)]="userModel2.password2"
        />
        <small
          class="text-danger"
          *ngIf="password2.invalid && password2.touched"
          >Passwort wird benötigt</small
        >
      </div>

      <button class="button button1" (click)="sendData()">
        Registrieren
      </button>
    </form>
  </div>
</div>
