<div class="my-background">
  <br>
  <h1 class="h1-text-center">
    Auftragswarteschlange<span style="color: #ed1c24">.</span>
  </h1>

  <div class="table-container">
    <table>
      <tr>
        <th>Deadline</th>
        <th>Auftragsname</th>
        <th>Auftragsnummer</th>
        <th>NC-Programm</th>
        <th>Sollteile</th>
      </tr>
      <tr>
        <td>30.11.2023</td>
        <td>Musterteil 1</td>
        <td>XXXXXXXX1</td>
        <td>Musterteil1.h</td>
        <td>1</td>
      </tr>
      <tr>
        <td>30.11.2023</td>
        <td>Musterteil 2</td>
        <td>XXXXXXXX2</td>
        <td>Musterteil2.h</td>
        <td>2</td>
      </tr>
      <tr>
        <td>30.11.2023</td>
        <td>Musterteil 3</td>
        <td>XXXXXXXX3</td>
        <td>Musterteil3.h</td>
        <td>3</td>
      </tr>
    </table>
  </div>
</div>
