

nav ul li{
  float: left;
  list-style: none;
  position: relative;
  font-family: arial;
  color: var((--secondary-colour));
  font-size: 24px;
  text-decoration: none;
  padding: 28px;
  display: block;
}



nav ul li a:hover{
  background-color: #d0cece;
}

nav ul li ul{
  display: none;
  position: absolute;
  background-color: #929a9a;
  padding: 7px;
  border-radius: 12px;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li a{
  color: white;
  padding: 16px 20px;
  border-radius: 10px;
}

.einstellungen_center{
  display: flex;
  justify-content: center;
}
