<h1 class="h1-text-center mt-3">Einstellungen<span style="color:#ed1c24">.</span></h1>

<div>
  <ol>
    <li class="password-item">
      <div class="password-toggle">Passwort</div>
      <div class="password-options">
        <p>Option 1</p>
        <p>Option 2</p>
        <p>Option 3</p>
      </div>
    </li>
    <li class="display-item">
      <div class="display-toggle">Darstellungseinstellung</div>
      <div class="display-options">
        <p></p>
        <p>Option 2</p>
        <p>Option 3</p>
      </div>
    </li>
    <li class="darkmode-item">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
        Darkmode
      </label>
    </li>
  </ol>
</div>
