

.content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.auftragshistorie{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ampel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid #000;
  padding: 10px
}

.ampel div {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%; /* Macht die Felder rund */
  border: 1px solid #000; /* Fügt einen dünnen schwarzen Rand um jedes Feld hinzu */
}

.ampel div:last-child {
  margin-bottom: 0; /* Entfernt den unteren Abstand des letzten Feldes */
}

.ampel .tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  margin-bottom: 10px; /* zusätzl. Abstand zum untersten Ampellicht */
}

.ampel_text{
  display: flex;
  align-items: center;
}

.ampel_beschreibung{
  margin-left: 10px;
}

.maxwidth{
  max-width: 1000px;
  margin: auto;
}
