<div class="my-background">
  <br />

  <h1 class="h1-text-center">
    Anlageneffektivität<span style="color: #ed1c24">.</span>
  </h1>
  <!--Maschinenname soll später aus json ausgelesen werden!-->
  <h3 class="text-center">Acura 65 EL<span style="color: #ed1c24">.</span></h3>

  <div class="content">
    <div>
      <canvas
        baseChart
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        [options]="doughnutChartOptions"
      >
      </canvas>
      <div class="text-center">
        Zeitraum:<br />{{ lastDate }} bis <br />{{ firstDate }}
      </div>
    </div>

    <div class="ampel">
      <div [ngStyle]="{'background-color': rot === 1 ? 'red' : 'lightgrey'}"></div>
      <div [ngStyle]="{'background-color': gelb === 1 ? 'yellow' : 'lightgrey'}"></div>
      <div [ngStyle]="{'background-color': gruen === 1 ? 'green' : 'lightgrey'}"></div>
    </div>
  </div>

  <div>
    <select [(ngModel)]="selectedDate2" (change)="onSelect2(selectedDate2)">
      <option *ngFor="let dateTuple of data_local; let i = index" [value]="i">
        {{ dateTuple[0] }}
      </option>
    </select>
    <br />
    <select [(ngModel)]="selectedDate1" (change)="onSelect1(selectedDate1)">
      <option *ngFor="let dateTuple of data_local; let i = index" [value]="i">
        {{ dateTuple[0] }}
      </option>
    </select>

    <div *ngIf="selectedDateIndex1 !== null">
      Ausgewählte Position im Array: {{ selectedDateIndex1 }}
    </div>
  </div>

  <button (click)="requestData()">requestData</button>
</div>
