/* You can add global styles to this file, and also import other style files */
.h1-text-center{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700px;
}
body{
  font-family: 'Roboto', sans serif;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.h2-center{
  text-align: center;
}
.table-container{
  display: flex;
  justify-content: center;
}
.text-center{
  text-align: center;
}
