/* You can add global styles to this file, and also import other style files */
.h1-text-center{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700px;
}
body{
  font-family: 'Roboto', sans serif;
}
