/* You can add global styles to this file, and also import other style files */
//variablen (Farben)
:root{
  --primary-colour: white;
  --secondary-colour: black;
  --th_td-colour:#ddd;
}

//var für Darkmode
.dark_mode{
  --primary-colour: rgb(35, 35, 35);
  --secondary-colour: rgb(183, 183, 183);
}

//Bloecke
header {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-colour);
  transition: background-color 0.5s ease-in-out;
}

body{
  font-family: 'Roboto', sans serif;
  background-color: var(--primary-colour);
  transition: background-color 0.5s ease-in-out;
}

//Beschreibung von Text,Tabellen und weiteres
*{
  color : var(--secondary-colour);
  transition: background-color 0.5s ease-in-out;
}

.h1-text-center{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700px;
}

a {
  color: var(--secondary-colour);
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-color: #ed1c24;
  text-underline-position: under;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid var(--th_td-colour);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--primary-colour);
}

.h2-center{
  text-align: center;
}

.table-container{
  display: flex;
  justify-content: center;
}

.text-center{
  text-align: center;
}

.bold{
  font-weight: bold;
  color: var(--secondary-colour);
}

// Buttons
.button {
  border: none;
  color: var(--primary-colour);
  padding: 6px 12px; //
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; //
}

.button1 {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border: 2px solid var(--secondary-colour);
}

.button1:hover {
  background-color: #ed1c24;
  color: var(--primary-colour);
  width: 100px;
  border: 2px solid #ed1c24;
}

.button2 {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border: 2px solid var(--secondary-colour);
}

.button2:hover {
  background-color: #ed1c24;
  color: var(--primary-colour);
  width: 180px;
  border: 2px solid #ed1c24;
}

//switch
//Der Darkmode Switch
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4b4d4f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

//Bilder

//darkmode test

body.dark_mode .darken-image {
  filter: brightness(0.5);
  transition: filter 0.5s ease-in-out;
}

body.dark_mode .changed-image {
  filter: invert(100%) brightness(0.5);
  transition: filter 0.5s ease-in-out;
}

body.dark_mode .acura65-marathon{ // Ka warum man das nochmal spezifisch ändern muss
  filter: brightness(0.5);
  transition: filter 0.5s ease-in-out;
}

//Hintergrundbild
.my-background{
  background-image: url('/assets/img/HEDELIUS_CD_Hallenhintergrund_weiß.jpg');
  height: 100vh;
  background-size: cover;
}
