<h1 class="h1-text-center">Auftragshistorie<span style="color:#ed1c24">.</span></h1>

<div class="table-container">
<table>
    <tr>
        <th>Datum</th>
        <th>Auftragsname</th>
        <th>Auftragsnummer</th>
        <th>NC-Programm</th>
        <th>Sollteile</th>
        <th>gefertigte Teile</th>
    </tr>
    <tr>
        <td>24.11.2023</td>
        <td>Musterteil 1</td>
        <td>XXXXXXXX1</td>
        <td>Musterteil1.h</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>24.11.2023</td>
        <td>Musterteil 2</td>
        <td>XXXXXXXX2</td>
        <td>Musterteil2.h</td>
        <td>2</td>
        <td>2</td>
    </tr>
    <tr>
        <td>24.11.2023</td>
        <td>Musterteil 3</td>
        <td>XXXXXXXX3</td>
        <td>Musterteil3.h</td>
        <td>3</td>
        <td>3</td>
    </tr>
</table>
</div>

