<h1 class="h1-text-center">Fehlermeldungen<span style="color:#ed1c24">.</span></h1>

<div class="table-container">
    <table>
        <tr>
            <th>Index</th>
            <th>Zeitpunkt</th>
            <th>Kategorie</th>
            <th>Inhalt</th>
        </tr>
        <tr>
            <td>171221</td>
            <td>27.11.2023 - 07:19:11</td>
            <td>SYSTEM</td>
            <td>#STARTUP</td>
        </tr>
        <tr>
            <td>171243</td>
            <td>27.11.2023 - 07:20:56</td>
            <td>NCERROR</td>
            <td>#TRIGGERED Steuerspannung für Relais fehlt</td>
        </tr>
        <tr>
            <td>171271</td>
            <td>27.11.2023 - 07:22:44</td>
            <td>OEMERROR</td>
            <td>#TRIGGERED 599 Das System wird geprüft und initialisiert!</td>
        </tr>

    </table>
    </div>

